@import "/home/mihir/.config/waybar/colors.css";

window {
	font: "Caskaydia Cove", monospace;
	background-color: @background;
}

#outer-box {
	background-color: @background;
	color: @on_background;
}

#input {
	background-color: @primary_container;
	color: @on_primary_container;
	border-radius: 15px;
	margin: 10px;
}
#input #text {
	color: @on_primary_container;
}

expander > list {
	background-color: inherit;
}

expander > list {
	margin-top: 10px;
}

expander > list #entry {
	color: hotpink;
	border-radius: 0px;
	border-bottom: solid 1px @primary_container;
	border-left: solid 1px @primary_container;
	padding: 5px 10px;
	margin: 0px;
}

#entry {
	margin: 0px 30px;
	padding: 10px;
	border-radius: 15px;
}

#entry:selected {
	background-color: @primary;
	color: @on_primary;
}
#entry:selected #text {
	color: @on_primary;
}
